html,
body {
  height: 100%;
}

.form-sign-up img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

.form-sign-up {
  position: relative;
  padding: 25px 2.5%;
  margin: 200px auto;
  max-width: 544px;

  border-radius: 20px;
}

.form-sign-up form {
  margin-top: 100px;
}

div#fileInputDiv {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;

  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

label#fileLabel {
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
  cursor: pointer;

  display: none;
}

.fileInputDiv:hover input[type="file"],
.fileInputDiv:hover label#fileLabel {
  display: block;
}

input[type="file"] {
  outline: none;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 40%;
  cursor: pointer;

  display: none;
}

input[type="file"]::-webkit-file-upload-button {
  display: none;
}
