@mixin length244px() {
  width: 100%;
  max-width: 244px;
}

html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;

  padding: 25px 2.5%;
  margin: 100px auto;
  max-width: 380px;

  border-radius: 20px;
}

h1 {
  margin-bottom: 50px;
}

button {
  @include length244px();
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-floating {
  @include length244px();
  margin: auto;
}

.form-signin input[type="email"] {
  color: black;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  @include length244px();
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  @include length244px();
}
